{% extends "base.html" %}

{% block content %}
<section class="hero">
    <div class="hero-content">
        <h1>Hi, I’m <span>Rosmin</span></h1>
        <p>
            I build clean, modern web apps using Python & Flask.
            Learning by creating real projects.
        </p>

        <div class="hero-buttons">
            <a href="/projects" class="btn primary">View Projects</a>
            <a href="/about" class="btn secondary">About Me</a>
        </div>
    </div>
</section>
{% endblock %}